<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Percentage Circle.css" type="text/css " />
  </head>
  <body>
    <!-- change the p34 and span tag Acoording to percentage -->

    <div class="c100 p34 center">
      <span>34%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <br />

    <!-- Use a href inside span to link your accounts like github etc -->a

    <div class="c100 p100 center">
      <span><a href="https://www.youtube.com/">Youtube</a></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <br />

    <!-- change class to change alignment -->

    <div class="c100 p34 center">
      <span>34%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <br />

    <!-- can link document using a href and local path -->

    <div class="c100 p34 center">
      <span><a href="/Resume/Component/Percentage Circle/1.pdf">87%</a></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <br />
  </body>
</html>
