header {
	text-align: center;
	/* background-color: #eee; */
	background-color: lightseagreen;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

p {
	font-size: large;
}

html{
	background-color: beige;	
}

section{
	padding-left: 5%;
	font-size: large;
}

 /* #basicinfo{
	font-size: large;
 } */